h1, h2, h3, h4, h5, h6, p {
    font-family: 'Patua One', cursive;
    color: #A72608 !important; 
}

body {
    background-color: #090c02
}


colors {
    /* main background */
    color:#090c02;
    /* text */
    color:#A72608;
    /* main text */
    color:#bbc5aa;
    color:#28464B;
    color:#726263; 
}

.selected {
    background-color: #28464B !important;
}

.btn:hover {
    background-color: #28464B !important;
}

.jumbotron{
    background-color: #bbc5aa;
}

#main {
    position: relative;
}

.answer {
    margin: 5px 0px;
    border: 2px solid #bbc5aa;
    text-align: center;
    background-color: #bbc5aa;
    display: table;
}

.answer p {
    display: table-cell;
    vertical-align: middle;
}

.answer:hover {
    border: 2px solid #A72608;
}

#overlay {   
    position: absolute;
    background-image: url("../images/blue_pcb.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 500px;

}

#overlay_color {
    background-color: rgba(114, 98, 99, 0.8);
    height: 100%;
    width: 100%;
}

.overlay_container {
    display: inline-block;
}

#overlay_left {
    max-height: 500px;
}

#overlay_right {
    height: 100%;
    width: calc(100% - 406px);
}

#overlay_table{
    height: 100%;
    width: 100%;
    display: table;
}

#overlay_table div {
    vertical-align: middle;
    display: table-cell;
}

#categories {
    max-height: 500px;
}

#overlay_color button {
    /* all overlay buttons */
    display: block;
    border: none;
    background-color: #bbc5aa;
    color: #A72608;
    font-family: 'Patua One', cursive;
}


.diff-btn {
    /* dufficulty buttons */
    width: 70%;
    margin: 10px auto;
    font-size: 30px;
}

.cat-btn{
    /* categorty buttons */
    width: 100%;
    margin: 2px auto;
    font-size: 20px;
}

#start {
    margin: auto;
    width: 70%;
    font-size: 30px;
}